
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: #e0e1e2;
}

.header {
  background-color: #ff69b4;
  // border-top-left-radius: 10px;
  // border-bottom-right-radius: 10px;
  // margin-left: 10%;
  // margin-right: 10%;
  width: 100%;
}

.header h1 {
  text-align: center;
  color: #fff;
  margin-top: 0;
  padding: 10px;
}

.log-in-div {
  text-align: center;
  // margin-left: 10%;
  // margin-right: 10%;
  // width: 80%;
}

.login-form {

}

#username {
  width: 100%;
  margin-top: 20px;
  // margin-bottom: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #f3f3f3;
  box-shadow: none;
  padding: 5px;
}

#password {
  width: 100%;
  margin-bottom: 15px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid #f3f3f3;
  border-top: none;
  box-shadow: none;
  padding: 5px;
}

#login {
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 5px;
  background-color: #ff69b4;
  color: #fff;
}

.chat-app, .log-in-page {
  background-color: #fff;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  margin-bottom: 10px;
  padding: 15px;
  display: inline-block;
  border-radius: 4px;
}

.message-text {
  font-size: 16px;
  padding: 0;
  display: inline;
  word-wrap: break-word;
  text-align: left;
  overflow-x: auto;
  overflow-y: auto;
  // vertical-align: middle;
}

.timestamp {
  font-size: 12px;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: right;
}

.left-side-chat {
  width: 45%;
  min-height: 50px;
  margin-right: 10%;
  border-radius: 4px;
  background-color: #d3d3d3;
  border: none;
  color: #fff;
  padding: 10px;
}

.right-side-chat {
  width: 45%;
  min-height: 50px;
  margin-left: 55%;
  border-radius: 4px;
  background-color: #ff69b4;
  border: none;
  color: #fff;
  padding: 10px;
}

#response-form {
  width: 100%;
  // background-color: #e0e1e2;
}

#message-text-input {
  margin-top: 15px;
  width: 85%;
  display: inline-block;
  border-radius: 3px;
  padding: 5px;
}

#send-message-button {
  margin-top: 15px;
  height: 34px;
  border: none;
  border-radius: 3px;
  line-height: 34px;
  vertical-align: middle;
  width: 12%;
  display: inline-block;
  float: right;
}

.invisible {
  display: none;
}
